.form-group + .form-group {
  margin-top: 1.5rem;
}

.form-group label {
  font-size: 0.85rem;
  color: var(--color-marine-blue);
}

.form-group input {
  display: block;
  width: 100%;
  padding: 0.7em;
  font: inherit;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--color-light-gray);
  outline: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-marine-blue);
}

.form-group input:is(:hover, :active) {
  border: 1px solid var(--color-marine-blue);
}

.form-group input:focus {
  border: 1px solid var(--color-marine-blue);
  outline: 1px solid var(--color-marine-blue);
}

.form-group input::placeholder {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-cool-gray);
}

.form-group input.invalid {
  border-color: var(--color-strawberry-red);
}

.input-error {
  display: flex;
  justify-content: space-between;
}

.input-error__message {
  font-size: 0.85rem;
  color: var(--color-strawberry-red);
  font-weight: 500;
}
