.sidebar {
  background-image: url('../../assets/images/bg-sidebar-mobile.svg');
  background-position: center;
  background-size: cover;
  height: 170px;
  border-radius: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-top: 1.5em;
}

@media (min-width: 765px) {
  .sidebar {
    background-image: url('../../assets/images/bg-sidebar-desktop.svg');
    background-position: bottom;
    height: auto;
    border-radius: 12px;
    display: block;
    padding: 1em;
  }
}
