*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: hsl(240, 69%, 97%);
}

.app {
  position: relative;
  min-height: 100vh;
}

.right-column {
  position: relative;
}

@media (min-width: 860px) {
  body {
    min-height: 100vh;
    display: grid;
    align-items: center;
  }

  .app {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 3rem;
    height: 80vh;
    max-width: 800px;
    margin-inline: auto;
    background-color: #fff;
    padding: 1rem;
    min-height: 100%;
  }
}
