.step-actions {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
}

.backBtn {
  background-color: transparent;
  color: var(--color-cool-gray);
  transition: color 0.3s ease;
  padding: 0;
}

.backBtn:is(:hover, :active) {
  color: var(--color-marine-blue);
}
.backBtn:focus {
  padding-inline: 0.5rem;
  transform: translateX(-0.5rem);
}

.nextBtn {
  color: white;
  background-color: var(--color-marine-blue);
  transition: background-color 0.3s ease;
}

.nextBtn:is(:hover, :active) {
  background-color: var(--color-marine-blue-opaque);
}

.confirmBtn {
  color: white;
  background-color: var(--color-purplish-blue);
  transition: background-color 0.3s ease;
}

.confirmBtn:is(:hover, :active) {
  background-color: var(--color-purplish-blue-opaque);
}

.submit-button {
  padding: 0;
}

.label {
  display: block;
  padding: 0.85em 1.75em;
}

@media (min-width: 860px) {
  .step-actions {
    padding: 1.5rem;
  }
}
